<?xml version="1.0" encoding="UTF-8" ?>

<!--UserMapper.xml-->

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="dao.UserMapper">
    <select id="findUserById" resultType="entity.User" parameterType="int">
        select * from tb_test where id =#{id}
    </select>

    <select id="findUserByName" resultType="entity.User" parameterType="String">
        select * from tb_test where name like "%"#{name}"%"
    </select>

    <select id="findUserByNumber" resultType="entity.User" parameterType="String">
        select * from tb_test where number like "%"#{number}"%"
    </select>

    <select id="findUsers" resultType="entity.User">
        select * from tb_test
    </select>

    <insert id="insertUser" parameterType="entity.User">
        insert into tb_test (id,name,number,create_at,update_at) values (#{id},#{name},#{number},#{create_at},#{update_at})
    </insert>

    <delete id="deleteUser" parameterType="int">
        delete from tb_test where id=#{id}
    </delete>

    <update id="updateUser" parameterType="entity.User">
    update tb_test set name=#{name},number=#{number},update_at=#{update_at} where id=#{id}
    </update>
</mapper>